body {
    margin: 0;
}

/* HEADER-ШАПКА !!! */

.container {
    outline: 1px solid tomato;
}
.choice {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;

    color: #212121;

    text-decoration: none;
    outline: 1px solid tomato;
}
.contact {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;

    text-decoration: none;

color: #757575;

}
.choice:hover ,
.contact:hover {
    color: #2196F3;
}
.list {
    list-style: none;
}



/* ИМЯ САЙТА  */
.website_name {
    font-family: relawey;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;


    color: #2196F3;

    text-decoration: none;
}
.studio {
    color: #000;
}
.studioo {
    color: #fff;
}
/* КНОПКА И ЗАГОЛОВОК */
.color-butt {
    background-color: #2F303A;
}
.big-title {
    font-family: roboro;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;


    color: #FFFFFF;
}

.button-one {
    font-family: roboto;
    width: 216px;
    height: 50px;   
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: #FFF;
}
.button-one:hover {
    color: #fff;
}


/* КАЧЕСТВА */
.color-quality {
    background-color: #F5F5F5;
}
.list-1 ,
.list-2 ,
.list-3 {
    list-style: none;
}
.quality {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: #212121;
}
.text {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: #757575;
}

/*subtitle */
.color-370 {
    background-color: #F5F5F5;;
}
.subtitle {
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;

    color: #212121;
}

/* НАША КОМАНДА */
.color-team {
    background-color: #F5F4FA;
}
.fio {
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;

    color: #212121;
}
.it {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;

    color: #757575;
}

/* FOOTER- НИЗ */

.floor {
    background-color: #2F303A;
}

.streat {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: #FFF;
}
.contact-1 {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}
.contact-1:hover {
    color: #2196F3;
}
