body {
    margin: 0;
}

/* HEADER-ШАПКА !!! */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
}
.choice {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;

    color: #212121;

    text-decoration: none;
    outline: 1px solid tomato;
}
.contact {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #757575;
    outline: 1px solid tomato;

}
.choice:hover ,
.contact:hover {
    color: #2196F3;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}



/* ИМЯ САЙТА  */
.website_name {
    font-family: relawey;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;


    color: #2196F3;

    text-decoration: none;
    outline: 1px solid tomato;
}
.studio {
    color: #000;
}
.studioo {
    color: #fff;
}
/* КНОПКА И ЗАГОЛОВОК */
.color-butt {
    margin-bottom: 94px;
    text-align: center;
    background-color: #2F303A;
    outline: 1px solid tomato;
}
.big-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-family: roboro;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;


    color: #FFFFFF;
    outline: 1px solid tomato;
}

.button-one {
    min-width: 216px;


    display: inline-block;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;



    font-family: roboto; 
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: #FFF;
    outline: 2px solid  tomato;
}
.button-one:hover {
    color: #fff;
}


/* КАЧЕСТВА */
.color-quality {
    background-color: #F5F5F5;
    margin-bottom: 94px;
    margin-left: 215px;
    margin-right: 215px;
}
.list-1 ,
.list-2 ,
.list-3 {
    list-style: none;
}
.list-1 {
    margin-top: 0;
    margin-bottom: 0;
}
.quality {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;

    color: #212121;
}
.text {
    font-family: roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;

    color: #757575;
}

/*subtitle */
.color-370 {
    background-color: #F5F5F5;
    margin-bottom: 94px;
}
.subtitle {
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    color: #212121;
}
.list-2 {
    margin-top: 0;
    margin-left: 215px;
    margin-right: 215px;
}

/* НАША КОМАНДА */
.color-team {
    background-color: #F5F4FA;
}
.oue {
    padding-top: 94px;
}
.fio {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    text-align: center;

    color: #212121;
}
.list-3 {
    margin-left: 215px;
    margin-right: 215px;
}
.it {
    margin-bottom: 30px;
    font-family: roboto;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    text-align: center;

    color: #757575;
}


/* FOOTER- НИЗ */

.floor {
    background-color: #2F303A;
}
.web {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
}
.streat {
    font-family: roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    

    color: #FFF;
}
.contact-1 {
    font-family: roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}
.contact-1:hover {
    color: #2196F3;
}
.con {
    display: inline-block;
    margin-bottom: 60px;
}
